#main-frame{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    background-color: aqua;
    padding: 1rem;
    width: 50rem;
}

#forbackground{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

#links{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    column-gap: 1rem;

}