body{
    background-color: black;
}
#main-frame{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: flex-start;
    margin-top: 5rem;
    background-color:rgba(182, 180, 180, 0.719);
    padding: 1rem;
    width: 50rem;
    border-radius: 1rem;
    box-shadow: 1px 3px 5px rgb(65, 62, 62);
}

#forbackground{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

#links{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    column-gap: 1rem;

}
#elements{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: space-between;
    background-color: rgb(206, 205, 205);
    margin-top: 1rem;
    border-radius: .5rem;
}

#inputs{
    display: flex;
    flex-flow: row wrap;
    
}